@model MultiplexServices.Models.Runs.RunDetailModel
<div class="container">
    <div class="page-header page-header clearfix detailHeading">
        <h1 class="text-muted"></h1>
    </div>
</div>

<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <div>
                <img src="data:image/png;base64,@Model.MoviePoster" />
            </div>
        </div>
        <div class="col-md-4">
            <h2 id="itemTitle">@Model.MovieName @Model.MovieType</h2>
            <label>Date:</label>
            <p>@Model.DateTime.ToString("dd MMM hh:mm tt")</p>
            <label>Duration:</label>
            <p id="itemDuration">@Model.MovieDuration.Hours hours and @Model.MovieDuration.Minutes minutes.</p>

        </div>
        <div class="col-md-4">
            <div style='background-color:lightblue;border:1px solid black; text-align:center' id="screen">
                Screen
            </div>
            @{int n = 0;
                <table class="table table-condensed" id="seatsIndexTable">
                    <tbody>

                        @for (int i = 0; i < @Model.Rows.Count(); i++)
                        {
                            <tr class="runRow">
                                @for (int j = 0; j < @Model.Rows[i]; j++)
                                {
                                    <td class="">
                                        @if (!@Model.Seats[n].IsBooked)
                                        {
                                            @Html.Hidden("IsBooked" + @Model.Seats[n].SeatName, Model.Seats[n].IsBooked)
                                            <div class="seat" onclick="onSeatClicked(@Model.Seats[n].SeatName,@Model.Seats[n].SeatRoomID)" id="@Model.Seats[n].SeatName">
                                                @Model.Seats[n].SeatName
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="bookedSeat" id="@Model.Seats[n]">
                                                @Model.Seats[n].SeatName
                                            </div>
                                        }
                                    </td>
                                    n = n + 1;
                                }
                            </tr>
                        }

                    </tbody>
                </table>
                <div class="col text-center">
                    <button value="Save" onclick="onSaveClicked()">Sell Selected Tickets</button>
                </div>
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    var selectedSeats = [];
    function onSeatClicked(name, seatRoomID ) {
        document.getElementById(name.id).style.color = 'red';
        selectedSeats.push({RunId:@Model.Id, SeatRoomId: seatRoomID, SeatName: name.id, IsBooked: true});
    };

    function onSaveClicked() {
        var selectedSeatsJson = "{\"SeatRuns\":" + JSON.stringify(selectedSeats) + "}";
        $.post('/Runs/SaveRun', { selectedSeats: selectedSeatsJson }, function (data) {
            window.location.href = data;
        }
        );
    }

</script>