@model MultiplexServices.Models.Runs.RunDetailModel
<div class="page-header page-header clearfix detailHeading">
    <h2>Tickets were booked!</h2>
</div>
@{int i = 0;
<div class="col-md-12">
    @foreach (var seat in @Model.BookedSeats)
    {
    <div class="col-md-3" style='background-color:lightgray; margin:1px'>
        <p class="centeredp">Movie: @Model.MovieName</p>
        <p class="centeredp">Type: @Model.MovieType</p>
        <p class="centeredp">Time: @Model.DateTime.ToShortTimeString()</p>
        <p class="centeredp">Room: @Model.RoomName </p>
        <p class="centeredp">Seat: @seat </p>
        @if (@Model.MovieType == "2D")
        {
            i = i + 15;
        }
        else
        {
            i = i + 30;
        }
    </div>
   
            }
        </div>
    }

    <div>
        <p class="centeredp">Price: @i LEI.</p>
    </div>
