@model MultiplexServices.Models.Movies.MovieDetailModel
<div class="container">
    <div class="page-header page-header clearfix detailHeading">
        <h2 class="text-muted">Add Movie</h2>
    </div>
</div>
<div class="col-md-12">
    @using (Html.BeginForm("AddMovie", "Movies", FormMethod.Post))
    {

        <p>
            @Html.LabelFor(p => p.Title)
            @Html.TextBoxFor(p => p.Title)
        </p>
        <p>
            @Html.LabelFor(p => p.Description)
            @Html.TextBoxFor(p => p.Description)
        </p>
        <p>
            @Html.LabelFor(p => p.Duration)
            @Html.TextBoxFor(p => p.Duration)
        </p>
        <p>
            @Html.LabelFor(p => p.Year)
            @Html.TextBoxFor(p => p.Year)
        </p>
        <p>
            @Html.LabelFor(p => p.Type)
            @Html.TextBoxFor(p => p.Type)
        </p>       

        <input type="submit" value="Add" />
    }
</div>

