@model MultiplexServices.Models.Movies.MovieDetailModel
<div class="container">
    <div class="page-header page-header clearfix detailHeading">
        <h2 class="text-muted"></h2>
    </div>
</div>

<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <div>
                <img class="detailImage" src="data:image/png;base64,@Model.Poster" />
            </div>
        </div>
        <div class="col-md-4">
            <h3 id="itemTitle">@Model.Title  @Model.Type</h3>
            <label>Duration:</label>
            <p id="itemDuration">@Model.Duration.Hours hours and @Model.Duration.Minutes minutes</p>
            <label>Description:</label>
            <p id="itemDescription">@Model.Description</p>
        </div>
        <div class="col-md-4">
            @foreach (var runByDate in @Model.Runs.GroupBy(x => x.DateTime.Date))
            {
                <p>@runByDate.FirstOrDefault().DateTime.ToString("dd MMM")</p>
                @foreach (var run in runByDate)
                {
            <a asp-controller="Runs" asp-action="Detail" asp-route-id="@run.Id"
               class="btn btn-primary">@run.DateTime.ToShortTimeString()</a>
                }
            }
        </div>
    </div>
</div>