@model MultiplexServices.Models.Rooms.RoomModel

<div id="rooms">
    <h3  style="text-align:center;">@Model.RoomName</h3>
    @using (Html.BeginForm("Update", "Rooms", FormMethod.Post))
    {
        @Html.HiddenFor(p => p.Id);
        <p class="centeredp">
            @Html.LabelFor(p => p.RoomName)
            @Html.TextBoxFor(p => p.RoomName)
        </p>
        <p class="centeredp">
            @Html.LabelFor(p => p.Seats)
            @Html.TextBoxFor(p => p.Seats)
        </p>
        <p class="centeredp">
            <input type="submit" value="Save" />
        </p>
    }

    @using (Html.BeginForm("Delete", "Rooms", FormMethod.Post))
    {
        <p class="centeredp">
            @Html.HiddenFor(p => p.Id)
            <input type="submit" value="Delete Room" />
        </p>
            }
    </div>